<div class="panel panel-default">
	  <div class="panel-heading">
			<h3 class="panel-title">Collections | <a href="#/collection/new"> <button class="btn btn-rounded btn-sm btn-icon btn-default"><i class="fa fa-plus"></i></button> </a> </h3>
	  </div>
	  <div class="panel-body">
			
			<table class="table table-hover" ng-if="collections.length">
				<thead>
					<tr>
						<th>Name</th>
						<th>Columns</th>
						<th>Records</th>
						<th>Last Modified</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="col in collections">
						<td> <a href="#/collection/{{ col._id }}"> {{ col.name }} </a> </td>
						<td> {{ col.columns.length }} </td>
						<td> {{ col.rows.length }} </td>
						<td> {{ col.updatedAt }} </td>
						<td> <button class="btn btn-danger btn-sm" ng-click="deleteCollection(col)"> <i class="fa fa-trash"></i> </button> </td>
					</tr>
				</tbody>
			</table>

			<h3 ng-if="!collections.length">No Collections :(</h3>


	  </div>
</div>