<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Collection Design</h3>
	</div>
	<div class="panel-body">
		
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>DataType</th>
						<th>Unique</th>
					</tr>
				</thead>
				<tbody>
					
					<tr ng-repeat="col in newCollection.columns">
						<td> <input type="text" class="form-control" ng-model="col.name"> </td>
						<td>
							<select class="form-control" ng-model="col.datatype">
								<option value="text">Text</option>
								<option value="number">Number</option>
							</select>
						</td>
						<td> <input type="checkbox" class="form-control" ng-model="col.unique"> </td>
					</tr>

				</tbody>
			</table>
		</div>

		<div class="wrapper">
			<button class="btn btn-primary" ng-click="addColumn()"> <span class="fa fa-plus"></span> Add New Column</button>
			<button class="btn btn-primary" data-toggle="modal" href="#create_new_collection"> <span class="fa fa-floppy-o"></span> Save </button>
		</div>

	</div>
</div>

<div class="modal fade" id="create_new_collection">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">New Collection</h4>
			</div>
			<div class="modal-body">
				
				<div class="form-group">
					<input type="text" class="form-control" ng-model="newCollection.name">
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Create Collection</button>
			</div>
		</div>
	</div>
</div>
