<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#">Datasheet</a></li>
	<li role="presentation"><a href="#/collection/{{ collectionId }}/collection-design">Collection Design</a></li>
</ul>

<div class="wrapper bg-white">
	<hot-table
		settings="{
			colHeaders: ngHandsontableData.columns,
			stretchH: 'all'
		}" 
		datarows="rawCollection.rows" 
		ng-if="rawCollection.rows.length">
	</hot-table>

	<h3 ng-if="!rawCollection.rows.length">You have no records yet :(</h3>

	<br>

	<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-click="addRow()">
		<i class="fa fa-plus"></i>
	</button>

</div>
