<ul class="nav nav-tabs">
	<li role="presentation"><a href="#/collection/{{collectionId}}">Datasheet</a></li>
	<li role="presentation" class="active"><a>Collection Design</a></li>
</ul>

<div class="wrapper bg-white">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Collection Design</h3>
		</div>
		<div class="panel-body">
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>DataType</th>
							<th>Unique</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						
						<tr ng-repeat="col in collection.columns">
							<td> <input type="text" class="form-control" ng-model="col.name"> </td>
							<td>
								<select class="form-control" ng-model="col.datatype">
									<option value="text">Text</option>
									<option value="number">Number</option>
								</select>
							</td>
							<td> <input type="checkbox" class="form-control" ng-model="col.unique"> </td>
							<td> <button class="btn btn-danger btn-sm" ng-click="deleteColumn($index)"> <i class="fa fa-trash"></i> </button> </td>

						</tr>

					</tbody>
				</table>
			</div>

			<div class="wrapper">
				<button class="btn btn-primary" ng-click="addColumn()"> <span class="fa fa-plus"></span> Add New Column</button>
				<button class="btn btn-primary" ng-click="save()"> <span class="fa fa-floppy-o"></span> Save </button>
			</div>
			
		</div>
	</div>

</div>
