<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Database Application | Login</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="stylesheet" href="/libs/assets/animate.css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/libs/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/libs/assets/simple-line-icons/css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/font.css" type="text/css" />
  <link rel="stylesheet" href="/css/angulr.min.css" type="text/css" />

</head>
<body>
	<div class="app app-header-fixed">
    <div class="container w-xxl w-auto-xs">
      <a href class="navbar-brand block m-t">Database Application</a>
      <div class="m-b-lg">
        <div class="wrapper text-center">
          <strong>Log in</strong>
        </div>
        <form action="/login" method="POST">
          <div class="text-danger wrapper text-center">
          </div>
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <input type="text" name="username" placeholder="Email" class="form-control no-border" required>
            </div>
            <div class="list-group-item">
               <input type="password" placeholder="Password" name="password" class="form-control no-border" required>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
          <div class="line line-dashed"></div>
          <p class="text-center"><small>Do not have an account?</small></p>
          <a href="/register" class="btn btn-lg btn-default btn-block">Create an account</a>
        </form>
      </div>
      <div class="text-center">
        <p>
          <small class="text-muted">The Database Application</small>
      </p>
      </div>
    </div>
	</div>

<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/angulr.min.js"></script>
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="js/dbapp.js"></script>

</body>
</html>
