<!DOCTYPE html>
<html lang="en" ng-app="dbapp">
<head>
  <meta charset="utf-8" />
  <title>Database Application</title>

  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="stylesheet" href="libs/assets/animate.css/animate.css" type="text/css" />
  <link rel="stylesheet" href="libs/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="libs/assets/simple-line-icons/css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="css/font.css" type="text/css" />
  <link rel="stylesheet" href="css/angulr.min.css" type="text/css" />

  <link rel="stylesheet" media="screen" href="libs/handsontable/dist/handsontable.full.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.css" rel="stylesheet" />


</head>
<body>
<div class="app app-header-fixed">
  <toaster-container ng-controller="ToasterController"></toaster-container>
  
  <!-- header -->
  <header id="header" class="app-header navbar" role="menu">
          <!-- navbar header -->
      <div class="navbar-header bg-info dker">
        <button class="pull-right visible-xs dk" target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" target=".app-aside">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="/" class="navbar-brand text-lt">
          <i class="fa fa-btc"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">Angulr</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow bg-info dker">
      </div>
      <!-- / navbar collapse -->
  </header>
  <!-- / header -->

  <!-- aside -->
  <aside id="aside" class="app-aside hidden-xs bg-light dker">
    <div class="aside-wrap">
      <div class="navi-wrap">
        <!-- nav -->
        <nav class="navi clearfix" ng-controller="SidebarController">
          <ul class="nav">
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs text-center"><span>Collections</span></li>
            <li 
              ng-repeat="item in menu"
              ng-click="selectMenuItem(item)"
              ng-class="{ active: (selectedMenuItem === item) }">
                <a href="{{ item.link }}">
                  <i class="{{ item.icon }} icon"></i>
                  <span class="font-bold">{{ item.label }}</span>
                </a>
            </li>
          </ul>
        </nav>
        <!-- nav -->
      </div>
    </div>

  </aside>
  <!-- / aside -->
  
  <!-- content -->
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      

<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="wrapper" ui-view>
  </div>
  <!-- / main -->

</div>


    </div>
  </div>
  <!-- / content -->

  <!-- footer -->
  <footer id="footer" class="app-footer" role="footer">
        <div class="wrapper b-t bg-light">
      <span class="pull-right">2.0.2 <a href class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
    	&copy; 2015 Copyright.
    </div>
  </footer>
  <!-- / footer -->

</div>

<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/angulr.min.js"></script>
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-animate/angular-animate.min.js" ></script>
<script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="libs/handsontable/dist/handsontable.full.js"></script>
<script src="libs/ngHandsontable/dist/ngHandsontable.js"></script>
<script src="libs/toaster/toaster.min.js"></script>

<script src="js/dbapp.js"></script>

</body>
</html>
